@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;400;600&display=swap');
:root {
    --nav-font: 'Fira Sans', sans-serif;
    --nav-weight: 400;
    --main-font: 'Fira Sans', sans-serif;
    --main-weight: 200;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav-section {
    position: relative;
    width: 100%;
    height: 60px;
    z-index: 2;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--nav-font);
    font-weight: var(--nav-weight);
    -webkit-box-shadow: 0px 10px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 10px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 10px 8px 0px rgba(34, 60, 80, 0.2);
}

    .nav-section img {
        height: 48px;
        margin: 0 5px;
    }

    .nav-section .nav-item {
        display: flex;
        align-items: center;
        /* background-color: red; */
        height: 60px;
        text-align: center;
        padding: 0 16px;
    }

        .nav-item a, .nav-item a:visited {
            text-decoration: none;
            color: #000;
        }

    .nav-section .nav-item:hover {
        cursor: pointer;
        background-color: #dedede;
    }

h1 {
        font-family: var(--main-font);
        display: flex;
        width: 60%;
        margin: 0 auto;
        padding: 10px 0px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .success-result {
        color: #19430c;
    }

    .not-found-result {
        color: #474747;
    }

    .unknown-result {
        color: #ff4343;
    }

#save_route, #add_to_route {
    width: 20%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background: none;
    border: 1px solid #000;
    font-family: var(--main-font);
    height: 40px;
}

#add_to_route {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

    #save_route a, #save_route a:visited, #add_point a, #add_point a:visited {
        padding: 8px 5px;
        text-decoration: none;
        color: #000;
    }

    #save_route:hover, #add_point:hover {
        color: #fff;
        background-color: #000;
    }

    #save_route a:hover, #add_point a:hover {
        color: #fff;
    }

.addAction, .addSend, .addActionRoute {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2%;
    font-family: var(--main-font);
    font-weight: var(--main-weight);
}

.addActionRoute {
    display: none;
}

    .addAction #save, .addAction #save:visited {
        text-decoration: none;
        color: #000;
    }

    .addAction #save:hover {
        color: #fff;
    }

    .addAction label, .addSend label, .addActionRoute label {
        text-align: center;
        font-size: 1rem;
        width: 20%;
    }

    .addAction #point_name, .addSend #textSend, .addSend #textQuantity, .addActionRoute #point_name {            
        background: none;
        border: none;
        height: 30px;
        border-bottom: 1px solid #000;
        width: 60%;
        font-family: var(--main-font);
        transition: .3s ease-in;
    }

        #point_name:focus, #textSend:focus, #textQuantity:focus {
            outline: none;
        }

        .invalid {
            background: #ffd5d5;
            border-bottom: 2px solid #ff4343 !important;
            transition: .3s ease-in !important;
        }

    .addAction #add_point, .addAction #save_route, .addSend #addSend, .addActionRoute #add_point {
        font-size: .7rem;
        width: 16%;
        height: 30px;
        font-family: var(--main-font);
        color: #000;
        background-color: #fff;
        border: 1px solid #000;
        border-radius: 2px;
        transition: .3s ease-in;
    }

    .addAction #add_point:hover, .addAction #save_route:hover, .addSend #addSend:hover {
        background-color: #000;
        color: #fff;
        transition: .3s ease-in;
    }

.body-wrapper {
    height: 150px;
}

.elem-wrapper {
    height: 40px;
}

.route-list, .delivery-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    font-family: var(--main-font);
}    

    .route-list .card, .delivery-list .card {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5%;
        width: 100%;
        font-family: var(--main-font);
        padding: 15px 0px;
        border-bottom: 1px solid rgba(71, 71, 71, 0.328);
    }

    .route-list .card:nth-child(even) {
        background: #cbcbcb46;
    }

        .card #start_time {
            height: 20px;
            width: 12%;
            border: 1px solid #000;
            background: #fff;
            font-family: var(--main-font);
            transition: .3s ease-in;
            font-size: .6rem;
        }

        .card #start_time:hover {
            background: #000;
            color: #fff;
            transition: .3s ease-in;
        }

        .card #done, .card #done_send {
            width: 10%;
        }

        .card .name {
            width: 16%;
        }

            .done {
                color: #43ff46;
                text-decoration: line-through;
            }

        .card .cost {
            width: 2%;
        }

        .card .cost-input {
            font-family: var(--main-font);
            border: none;
            border-bottom: 2px solid #474747;
            width: 6%;
            background: none;
        }

            #cost:focus {
                outline: none;
            }
        
        .card #confirm {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 20px;
            width: 2.5%;            
            background: #fff;
            font-family: var(--main-font);
            transition: .3s ease-in;
            border: none;
            background: none;
        }

            #confirm:hover {
                border: 1px solid #000;
                color: #fff;
                transition: .3s ease-in;
            }

            #confirm svg:hover {
                color: #fff;
            }

        .card #send {
            height: 20px;
            width: 12%;
            border: 1px solid #000;
            background: #fff;
            font-family: var(--main-font);
            transition: .3s ease-in;
        }

            #send:hover {
                background: #000;
                color: #fff;
                transition: .3s ease-in;
            }

            #send:hover a {
                color: #fff;
            }

            #send a {
                text-decoration: none;
                color: #000;
            }

            #send a:hover {
                color: #fff;
            }

            #send a:visited {
                color: #000;
            }

        .card #remove {
            font-family: var(--main-font);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 20px;
            width: 4%;
            color: #ff4343;
            border: 1px solid #ff4343;
            background: #fff;
            transition: .3s ease-in;
        }

            #remove:hover {
                background: #ff4343;
                color: #000;
                transition: .3s ease-in;
            }
    
        .finalsum {
            width: 80%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            align-items: flex-end;
            margin: 0 auto;
            font-family: var(--main-font);
        }

        .finalsum .sum-block {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 25%;
            padding: 10px 15px;
        }

            .sum-block label {
                width: 25%;
                margin-left: 2%;
            }

            .sum-block button {
                width: 100%;
                font-family: var(--main-font);
                font-weight: var(--nav-weight);
                background: none;
                border: 1px solid #000;
                justify-content: center;
                align-items: center;
            }

            .sum-block button:hover {
                background: #000;
                color: #fff;
            }

                .sum-block button #change_start {
                    text-decoration: none;
                    color: #000;
                    cursor: pointer;
                }

                .sum-block button #change_start:hover {
                    color: #fff;
                }

                .sum-block button #change_start:visited {
                    text-decoration: none;
                    color: #000;
                }

            .sum-block #cashlesscheck {
                display: flex;
                width: 16px;
                height: 16px;
            }

            .sum-block #cashless-leftoversum {
                display: none;
            }

    .leftover {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start !important;
        text-align: left;
    }
    
        .finalsum input {
            width: 20%;        
            border: none;
            border-bottom: 2px solid #474747;
            font-family: var(--main-font);
        }

            input:focus {
                outline: none;
            }

        .finalsum button {
            height: 20px;
            width: 40%;
            margin: 0 2%;
            border: 1px solid #000;
            background: #fff;
            font-family: var(--main-font);
            transition: .3s ease-in;
            font-size: .8rem;
        }

            button:hover {
                background: #000 !important;
                color: #fff;
                transition: .3s ease-in;
            }

    .active{
        border-bottom: 1px solid #000;
    }

.history-list {
    width: 60%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

    .list-header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 4.5%;
        margin: 0 auto;
        padding: 10px 15px;
        width: 100%;
        font-family: var(--main-font);
        font-weight: var(--nav-weight);
        border-bottom: 1px solid #cbcbcb46;
    }

        .list-header span {
            width: 10%;
        }
        
        .list-header #first {
            width: 13.5%;
        }

    .table-row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 5%;
        padding: 10px 15px;
        width: 100%;
        font-family: var(--main-font);
        font-weight: var(--main-weight);
        border-bottom: 1px solid #cbcbcb46;
    }

    .table-row:nth-child(even){
        background: #cbcbcb46;
    }

        .table-row .list {
            width: 15%;
            display: flex;
            flex-direction: column;
            padding: 5px 7px;
            justify-content: flex-start;
            align-items: center;
        }

            .table-row .list span {
                width: 100%;
                font-size: 1rem;
            }

        .table-row span {
            width: 10%;
            display: flex;
            align-items: center;
        }

            .table-row span #remove {
                font-family: var(--main-font);
                display: flex;
                justify-content: center;
                align-items: center;
                height: 20px;
                width: 20%;
                color: #ff4343;
                border: 1px solid #ff4343;
                background: #fff;
                transition: .3s ease-in;
            }

/* @media screen and (max-width: ;) {

} */